etc/data/rodd-data/tbl-Product_service_link.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
<xsd:element name="dataroot">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="tbl-Product_service_link" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="generated" type="xsd:dateTime"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="tbl-Product_service_link">
<xsd:annotation>
<xsd:appinfo>
<od:index index-name="serviceID" index-key="serviceID " primary="no" unique="no" clustered="no" order="asc"/>
<od:tableProperty name="Orientation" type="2" value="0"/>
<od:tableProperty name="OrderByOn" type="1" value="1"/>
<od:tableProperty name="NameMap" type="11" value="CswOVQAAAAChFdzfxa1tSJ7lufX6rOHDAAAAAIvWnwm2r+NAAAAAAAAAAAB0AGIA
bAAtAFAAcgBvAGQAdQBjAHQAXwBzAGUAcgB2AGkAYwBlAF8AbABpAG4AawAAAAAA
AADGkSrbkpC4RJQRvX2Eo4r9AAAAADUreRC2r+NAAAOWAPhgEwB0AGIAbABfAFAA
cgBvAGQAdQBjAHQAcwAAAAAAAAB+YRwdFxkoSKY3h3lbf93HBwAAAMaRKtuSkLhE
lBG9fYSjiv1SAE8ARABEAEkARAAAAAAAAAB5oAcmaUVjSJ4qTX3lEm/NBwAAAMaR
KtuSkLhElBG9fYSjiv10AGkAdABsAGUAAAAAAAAAUsT8C1V000yjfoqC+NTr+QcA
AADGkSrbkpC4RJQRvX2Eo4r9YQBjAHIAAAAAAAAARIP0H7liUkuCimjEEnBmYwcA
AAChFdzfxa1tSJ7lufX6rOHDUgBPAEQARABJAEQAAAAAAAAAqwFO8j0BZk6n/tKl
XARaiAAAAADJIMaFtq3jQAADlgD4YBMAdABiAGwAXwBzAGUAcgB2AGkAYwBlAAAA
AAAAAJbVlJ2X0nNCg0vxHwBwRbgHAAAAqwFO8j0BZk6n/tKlXARaiHMAZQByAHYA
aQBjAGUASQBEAAAAAAAAAG3cd7W/bEpOn22XqAomTvEHAAAAqwFO8j0BZk6n/tKl
XARaiHMAZQByAHYAaQBjAGUAXwBkAGkAcgBlAGMAdABvAHIAeQAAAAAAAAAArCK5
TvNSR7qJgtmdL1dDBwAAAKEV3N/FrW1InuW59fqs4cNzAGUAcgB2AGkAYwBlAEkA
RAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADAAAAAQAAAAAAAAAAAAAAAAAAAAAAA==
"/>
<od:tableProperty name="DefaultView" type="2" value="2"/>
<od:tableProperty name="GUID" type="9" value="oRXc38WtbUie5bn1+qzhww==
"/>
<od:tableProperty name="DisplayViewsOnSharePointSite" type="2" value="1"/>
<od:tableProperty name="TotalsRow" type="1" value="0"/>
<od:tableProperty name="FilterOnLoad" type="1" value="0"/>
<od:tableProperty name="OrderByOnLoad" type="1" value="1"/>
<od:tableProperty name="HideNewField" type="1" value="0"/>
<od:tableProperty name="OrderBy" type="12" value="[Lookup_RODDID].[title]"/>
<od:tableProperty name="Filter" type="12" value="([Lookup_RODDID].[title] Like &quot;*jason-1*&quot;)"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RODDID" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="ColumnWidth" type="3" value="7680"/>
<od:fieldProperty name="ColumnOrder" type="3" value="1"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="DisplayControl" type="3" value="110"/>
<od:fieldProperty name="RowSourceType" type="10" value="Table/Query"/>
<od:fieldProperty name="RowSource" type="12" value="SELECT [tbl_Products].RODDID, [tbl_Products].title, [tbl_Products].acr FROM tbl_Products; "/>
<od:fieldProperty name="BoundColumn" type="3" value="1"/>
<od:fieldProperty name="ColumnCount" type="3" value="6"/>
<od:fieldProperty name="ColumnHeads" type="1" value="0"/>
<od:fieldProperty name="ColumnWidths" type="10" value="0;3969;1701;0;0;3969"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AllowValueListEdits" type="1" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"/>
<od:fieldProperty name="GUID" type="9" value="RIP0H7liUkuCimjEEnBmYw==
"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="serviceID" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="ColumnWidth" type="3" value="4545"/>
<od:fieldProperty name="ColumnOrder" type="3" value="0"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="DisplayControl" type="3" value="110"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="GUID" type="9" value="AKwiuU7zUke6iYLZnS9XQw==
"/>
<od:fieldProperty name="RowSourceType" type="10" value="Table/Query"/>
<od:fieldProperty name="RowSource" type="12" value="SELECT tbl_service.serviceID, tbl_service.service_directory FROM tbl_service; "/>
<od:fieldProperty name="BoundColumn" type="3" value="1"/>
<od:fieldProperty name="ColumnCount" type="3" value="2"/>
<od:fieldProperty name="ColumnHeads" type="1" value="0"/>
<od:fieldProperty name="ColumnWidths" type="10" value="0;1134"/>
<od:fieldProperty name="AllowValueListEdits" type="1" value="1"/>
<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
