etc/data/rodd-data/tbl_service_family_link.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
<xsd:element name="dataroot">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="tbl_service_family_link" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="generated" type="xsd:dateTime"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="tbl_service_family_link">
<xsd:annotation>
<xsd:appinfo>
<od:index index-name="familyID" index-key="familyID " primary="no" unique="no" clustered="no" order="asc"/>
<od:index index-name="PrimaryKey" index-key="serviceID " primary="no" unique="no" clustered="no" order="asc"/>
<od:tableProperty name="Orientation" type="2" value="0"/>
<od:tableProperty name="OrderByOn" type="1" value="1"/>
<od:tableProperty name="NameMap" type="11" value="CswOVQAAAAD7h+L2mQm1Qpb51SH52ikoAAAAAOdrMzSTqeNAAAAAAAAAAAB0AGIA
bABfAHMAZQByAHYAaQBjAGUAXwBmAGEAbQBpAGwAeQBfAGwAaQBuAGsAAAAAAAAA
qwFO8j0BZk6n/tKlXARaiAAAAADJIMaFtq3jQADo2wlYYRMAdABiAGwAXwBzAGUA
cgB2AGkAYwBlAAAAAAAAAJbVlJ2X0nNCg0vxHwBwRbgHAAAAqwFO8j0BZk6n/tKl
XARaiFMAZQByAHYAaQBjAGUASQBEAAAAAAAAAG3cd7W/bEpOn22XqAomTvEHAAAA
qwFO8j0BZk6n/tKlXARaiHMAZQByAHYAaQBjAGUAXwBkAGkAcgBlAGMAdABvAHIA
eQAAAAAAAACsYaxSGiWJSJwIZy/5CAA6BwAAAPuH4vaZCbVClvnVIfnaKShzAGUA
cgB2AGkAYwBlAEkARAAAAAAAAACaCx/FiT/iTZzfktUvTAtEAAAAALPf2ZFTqeNA
AOjbCVhhEwB0AGIAbABfAGYAYQBtAGkAbABpAGUAcwAAAAAAAACpzw32EhUyR7bL
2l0+J8nrBwAAAJoLH8WJP+JNnN+S1S9MC0RmAGEAbQBpAGwAeQBJAEQAAAAAAAAA
iSZkL9Z4vUqNeP7OudTA1wcAAACaCx/FiT/iTZzfktUvTAtEZgBhAG0AaQBsAHkA
AAAAAAAACVVnKJZo3kKCFicYU17I/AcAAAD7h+L2mQm1Qpb51SH52ikoZgBhAG0A
aQBsAHkASQBEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMAAAABAAAAAAAAAAAAAAA
AAAAAAAA
"/>
<od:tableProperty name="DefaultView" type="2" value="2"/>
<od:tableProperty name="GUID" type="9" value="+4fi9pkJtUKW+dUh+dopKA==
"/>
<od:tableProperty name="DisplayViewsOnSharePointSite" type="2" value="1"/>
<od:tableProperty name="TotalsRow" type="1" value="0"/>
<od:tableProperty name="FilterOnLoad" type="1" value="0"/>
<od:tableProperty name="OrderByOnLoad" type="1" value="1"/>
<od:tableProperty name="HideNewField" type="1" value="0"/>
<od:tableProperty name="OrderBy" type="12" value="[Lookup_familyID].[family], [Lookup_serviceID].[service_directory]"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="serviceID" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="ColumnWidth" type="3" value="2595"/>
<od:fieldProperty name="ColumnOrder" type="3" value="1"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="DisplayControl" type="3" value="110"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="GUID" type="9" value="rGGsUholiUicCGcv+QgAOg==
"/>
<od:fieldProperty name="RowSourceType" type="10" value="Table/Query"/>
<od:fieldProperty name="BoundColumn" type="3" value="1"/>
<od:fieldProperty name="ColumnCount" type="3" value="2"/>
<od:fieldProperty name="ColumnHeads" type="1" value="1"/>
<od:fieldProperty name="AllowValueListEdits" type="1" value="0"/>
<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"/>
<od:fieldProperty name="ColumnWidths" type="10" value="0;1134"/>
<od:fieldProperty name="ListRows" type="3" value="16"/>
<od:fieldProperty name="ListWidth" type="10" value="0twip"/>
<od:fieldProperty name="LimitToList" type="1" value="0"/>
<od:fieldProperty name="RowSource" type="12" value="SELECT tbl_service.ServiceID, tbl_service.service_directory FROM tbl_service; "/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
<xsd:element name="familyID" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int">
<xsd:annotation>
<xsd:appinfo>
<od:fieldProperty name="ColumnWidth" type="3" value="2490"/>
<od:fieldProperty name="ColumnOrder" type="3" value="2"/>
<od:fieldProperty name="ColumnHidden" type="1" value="0"/>
<od:fieldProperty name="DecimalPlaces" type="2" value="255"/>
<od:fieldProperty name="Required" type="1" value="0"/>
<od:fieldProperty name="DisplayControl" type="3" value="110"/>
<od:fieldProperty name="TextAlign" type="2" value="0"/>
<od:fieldProperty name="AggregateType" type="4" value="-1"/>
<od:fieldProperty name="GUID" type="9" value="CVVnKJZo3kKCFicYU17I/A==
"/>
<od:fieldProperty name="RowSourceType" type="10" value="Table/Query"/>
<od:fieldProperty name="RowSource" type="12" value="SELECT tbl_families.familyID, tbl_families.family FROM tbl_families ORDER BY tbl_families.family; "/>
<od:fieldProperty name="BoundColumn" type="3" value="1"/>
<od:fieldProperty name="ColumnCount" type="3" value="2"/>
<od:fieldProperty name="ColumnHeads" type="1" value="1"/>
<od:fieldProperty name="AllowValueListEdits" type="1" value="0"/>
<od:fieldProperty name="ShowOnlyRowSourceValues" type="1" value="0"/>
<od:fieldProperty name="ColumnWidths" type="10" value="0;1134"/>
</xsd:appinfo>
</xsd:annotation>
</xsd:element>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
